@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Caveat');

// Utils
@import "utils/variables";

// Component
@import "components/buttons";

// Layout
@import "layout/forms";
@import "layout/header";
@import "layout/footer";

// Pages
@import "pages/user";



* {
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-family: 'Caveat', cursive;
    text-align: center;
}

h2 {
    font-size: 16px;
    color: $bluecolor;
}
