button {
    padding: 5px 15px;
    outline: 0;
    &.btn-add {
        border: 1px solid $bluecolor;
        background: transparent;
        border-radius: 50px;
        padding: 10px 35px;
        color: $bluecolor;
    }
    &.btn-save {
        border: 1px solid $greencolor;
        border-radius: 50px;
        background: transparent;
        outline: 0;
        color: $greencolor;
        &:hover {
            cursor: pointer;
        }
    }
    &.btn-remove {
        border: 1px solid $redcolor;
        border-radius: 50px;
        background: transparent;
        outline: 0;
        color: $redcolor;
        &:hover {
            cursor: pointer;
        }
    }
    &.btn-uploading{
        border-color: $redcolor;
        color: $redcolor;
    }
}