.users {
    padding: 15px 15px;
    margin: 20px;
    .user-add {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.32);
        padding: 10px;
        input{
            border: 1px solid #a9a9a9;
            background: transparent;
            border-radius: 50px;
            padding: 10px 15px;
            color: #2f2f2f;
            outline: 0;
        }
    }
    .user-list {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.32);
        padding: 10px;
        margin: 15px 0;
        #ulist {
            input{
                border: 0;
                outline: 0;
                cursor: default;
                margin: 5px 0;
            }
        }
    }
}