footer {
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.32);
    padding: 10px 15px;
    margin: 10px;
    text-align: center;
    blockquote {
        small {
            color: #2569e6;
        }
    }
    .copy {
        font-size: 11px;
        color: #737373;
    }
}